[tool.poetry]
name = "ubo-gui"
version = "0.3.3"
description = ""
authors = ["Sassan Haradji <sassanh@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
packages = [{ include = "ubo" }]
include = ['ubo/assets/fonts/*']


[[tool.poetry.source]]
name = "piwheels"
url = "https://www.piwheels.org/simple/"
priority = "primary"

[[tool.poetry.source]]
name = "PyPI"
priority = "primary"


[tool.poetry.dependencies]
python = "^3.9"
headless-kivy-pi = "^0.3.0"


[tool.poetry.group.development.dependencies]
poethepoet = "^0.23.0"
screeninfo = "^0.8.1"


[tool.poetry.group.demo.dependencies]
psutil = "^5.9.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
demo-menu = "ubo.demo.menu:main"

[tool.poe.tasks]
lint = "pyright -p pyproject.toml ."
download_font.shell = "mkdir -p ubo/assets/fonts; wget https://github.com/google/material-design-icons/raw/master/variablefont/MaterialSymbolsOutlined%5BFILL%2CGRAD%2Copsz%2Cwght%5D.ttf -O ./ubo/assets/fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf"

[tool.poe.tasks.deploy_to_device]
cmd = 'scripts/deploy.sh'

[tool.ruff.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "single"
multiline-quotes = "double"

[tool.ruff]
select = ['ALL']
ignore = []

# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ['ALL']
unfixable = []
